@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilitaires  */
.btn { @apply px-4 py-2 rounded-lg font-semibold transition duration-200; }
.btn-primary { @apply btn bg-accent text-white hover:bg-[#4338ca]; }
.btn-outline { @apply btn border border-accent text-accent hover:bg-gray-50; }
.container-pk { @apply mx-auto w-[min(1120px,96vw)] px-4; }
.nav-link { @apply text-gray-600 font-medium hover:text-accent; }
